<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./css/login.css">

    <script src="./js/input-login-check.js" defer></script>

    <title>Dydaktyka.pl</title>
</head>
<body>
    <form action="/" method="POST" class="login">
        <h1>Dydaktyka.pl</h1>
        <span>login:</span>
        <input type="text" name="login" id="login" class="login-input-name">
        <div class="login-error-name" style="color: red; display: none"></div>
        <span>hasło:</span>
        <input type="password" name="passwd" id="passwd" class="login-input-passwd">
        <div class="login-error-passwd" style="color: red; display: none"></div>

        <input type="submit" name="subm" class="login-submit" disabled>
    </form>
</body>
</html>